* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background: url("../img/background-dinheiro.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.opaco{
  width: 100%;
  height: calc(100% - 3rem);
  position: absolute;
  top: 3rem;
  left: 0;
  background-color: rgba(0,0,0,.5);
  z-index: -100;
}

header{
  width: 100%;
  height: 3rem;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;

  navbar{
    width: 100%;
    max-width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;

      li{
        height: 3rem;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        span{
          font-size: 1.3em;
        }
      }

      #facebook:hover{
        background-color: #145dbf;
        color: #FFFFFF;
        border: .5px solid #0F4C9E;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      }
      #twiter:hover{
        background-color: #1A91DA;
        color: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      }
      #instagram:hover{
        background-image: linear-gradient(45deg, #FF9E45, #E1306C, #833AB4);
        color: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      }
      #github:hover{
        background-color: #2D333B;
        color: #FFFFFF;
        border-color: #57606A;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      }
      #pessoal:hover{
        background: linear-gradient(45deg, #357ABD, #7D3AC1);
        color: #FFFFFF;
        border-color: #7D3AC1;
        box-shadow: 0px 4px 12px rgba(125, 58, 193, 0.5);
      }
    }
  }
}

.bodyPage{
  width: 100%;
  max-width: 1200px;
  min-width: 375px;
  margin: 4rem auto;
  background-color: #FFFFFF;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .topPage {
    width: 100%;
    height: 4rem;
    padding: 15px 0;
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 1rem;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F5F5F5;
  }

  .finDados {
    width: 90%;
    height: 40px;
    margin: 10px auto;

    form{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      input[type=text], input[type=date], input[type=number]{
        height: 30px;
        border-radius: 10px;
        font-size: 1.4em;
        padding: .2rem 1rem;
      }

      select{
        height: 30px;
        width: 10rem;
        border-radius: 10px;
        font-size: 1.4em;
        padding: .2rem 1rem;
      }

      input[type=button]{
        height: 30px;
        width: 100px;
        font-size: 1.3em;
        border-radius: 10px;
        background-color: #228B22;
        color: #F5F5F5;

        &:hover{
          background-color: #F5F5F5;
          color: #228B22;
        }
      }

      #movId{
        width: 6rem;
      }

      #movdata{
        width: 9vw;
      }

      #movNome{
        width: 20rem;
      }

      #movValor{
        width: 10rem;
      }

    }
  }

  .tabelaDados {
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3{
      font-size: 1.3em;
      margin: 5px 0 1rem 0;
    }

    table{
      width: calc(100% - 10px);
      margin: 10px auto;

      tr{
        width: 100%;
        min-width: 375px;
        height: 2rem;
      }

      .tbData{
        width: 10%;
      }
      .tbDesc{
        width: 50%;
      }
      .tbValor{
        width: 15%;
      }
      .tbPorc{
        width: 5%;
      }
      .tbMenu{
        width: 15%;

        button{
          width: 3rem;
          height: 2rem;
          margin: 0 1rem;
        }

        .close{
          background-color: #FF0000;

          &:hover{
            background-color: rgba(#FF0000, .8);
            color: #FF0000;
          }
        }

        .edit{
          background-color: #22bc24;

          &:hover{
            background-color: rgba(#22bc24, .8);
            color: #22bc24;
          }
        }
      }
    }
  }

  #finEntradas{
    border: 1px solid rgba(#228B22, .4);
    background-color: rgba(#228B22, .1);

    table{
      tr{
        th {
          background-color: rgba(#228B22, .5);
          border: 1px solid rgba(#228B22, .8);
        }
        td {
          background-color: rgba(#228B22, .2);
          border: 1px solid rgba(#228B22, .8);
        }
      }
    }

  }

  #finDespesasFixas{
    border: 1px solid rgba(#ffa500, .4);
    background-color: rgba(#ffa500, .1);

    table{
      tr{
        th {
          background-color: rgba(#ffa500, .5);
          border: 1px solid rgba(#ffa500, .8);
        }
        td {
          background-color: rgba(#ffa500, .2);
          border: 1px solid rgba(#ffa500, .8);
        }
      }
    }

  }

  #finDespesasVariaveis{
    border: 1px solid rgba(#ffa500, .4);
    background-color: rgba(#ffa500, .1);

    table{
      tr{
        th {
          background-color: rgba(#ffa500, .5);
          border: 1px solid rgba(#ffa500, .8);
        }
        td {
          background-color: rgba(#ffa500, .2);
          border: 1px solid rgba(#ffa500, .8);
        }
      }
    }

  }
}

footer{
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: #F5F5F5;
  display: grid;
  place-items: center;

  p{
    font-size: 1.3em;
    color: #282c30;

    a {
      text-decoration: none;
      color: #282c30;
    }
  }
}